{{extend 'layout.html'}}
<style>
section {
  padding: 70px 0px;
}
#admin-container {
  min-height: 100vh;
}
</style>

<section id="admin">
  <div class="container">
    <div id="admin-container">
      {{=message}}    
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User General Data</h5>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-raised btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>