{{extend 'layout.html'}}
<style>
section {
  padding: 70px 0px;
}
.card {
  background-color: #fff;
}
.card-img {
  height: 150px;
  background: url('../../thecvroom/static/images/hiring.jpg') no-repeat center;
  background-size: cover;
  color: white;
}
.card > .media-body {
  padding: 30px;
}
</style>

<section id="services" class="service-item">
  <div class="container">

    <div class="row">
      <div class="col-sm-6 col-md-4">
          <div class="media card wow fadeInDown">
            <div class="card-img"></div>
            <div class="media-body">
                <h3 class="media-heading">ABC Company</h3>
                <hr/>
                <p>$500 per month</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="media card wow fadeInDown">
            <div class="card-img"></div>
            <div class="media-body">
                <h3 class="media-heading">ABC Company</h3>
                <hr/>
                <p>$500 per month</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="media card wow fadeInDown">
            <div class="card-img"></div>
            <div class="media-body">
                <h3 class="media-heading">ABC Company</h3>
                <hr/>
                <p>$500 per month</p>
            </div>
          </div>
      </div>                                              
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#services-->