{{extend 'layout.html'}}

<style>
section {
  padding: 70px 0px;
}
#login-container > .container > .row > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-card {
  width: 400px;
  padding: 25px;
}
#form-submit-button {
  width: 100%;
}
</style>

<section id="login-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="media card wow fadeInDown" id="login-card">
          <form action="#" id="login-form">
            <h4>Login</h4>
            <div class="form-group">
              <label for="email" class="bmd-label-floating">Email address</label>
              <input type="email" class="form-control" id="email">
              <span class="bmd-help">Enter your email address</span>
            </div>
            <div class="form-group">
              <label for="password" class="bmd-label-floating">Password</label>
              <input type="password" class="form-control" id="password">
              <span class="bmd-help">Enter your password</span>
            </div>
            <button class="btn btn-raised btn-primary" type="submit" id="form-submit-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#login-form').on('submit', function(event) {
    event.preventDefault();
    $.post("/thecvroom/api/login", { email: $('#email').val(), password: $('#password').val() }, function(json){
      window.location = json.data
    });
  })
</script>