{{extend 'layout.html'}}
<style>
section {
  padding: 70px 0px;
}
#resume-request {
  min-height: 100vh;
}
.form-card {
  padding: 20px;
  margin-bottom: 10px;
}
button {
  width: 100%;
}
</style>

<section id="resume-request">
  <div class="container">
    <div class="wow fadeInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a data-target="personal-info" href="#">Personal Information</a>
        </li>
        <li class="breadcrumb-item">
          <a data-target="experience" href="#">Professional Experiences</a>
        </li>
        <li class="breadcrumb-item">
          <a data-target="achievements" href="#">Education and Achievements</a>
        </li>
        <li class="breadcrumb-item">
          <a data-target="skills" href="#">Skills</a>
        </li>
      </ol>
      <form id="resume-request-form">
        <div id="breadcrumb-container">
          <div id="personal-info">
            <small>All information provided will be kept confidential. We will not disclose your personal information to a third party without your consent.</small>
            <div class="form-group">
              <label for="email" class="bmd-label-floating">First Name</label>
              <input type="text" name="first_name" class="form-control" id="first-name">
              <span class="bmd-help">First name</span>
            </div>
            <div class="form-group">
              <label for="email" class="bmd-label-floating">Last Name</label>
              <input type="text" name="last_name" class="form-control" id="last-name">
              <span class="bmd-help">Last name</span>
            </div>
            <div class="form-group">
              <label for="email" class="bmd-label-floating">Email address</label>
              <input type="email" name="email" class="form-control" id="email">
              <span class="bmd-help">Enter your email address</span>
            </div>
            <div class="form-group">
              <label>Gender</label>
              <div class="radio">
                <label>
                  <input type="radio" name="gender" value="male">
                  Male
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="gender" value="female">
                  Female
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="phone-number" class="bmd-label-floating">Phone Number</label>
              <input type="text" name="contact_number" class="form-control" id="phone-number">
              <span class="bmd-help">Contact telephone number</span>
            </div>
            <div class="form-group">
              <label for="address" class="bmd-label-floating">Address</label>
              <input type="text" name="address" class="form-control" id="address">
              <span class="bmd-help">Current address</span>
            </div>
            <div class="form-group">
              <label for="lilnkedin">LinkedIn Account</label>
              <div class="radio">
                <label>
                  <input type="radio" name="linkedin" value="yes">
                  Yes
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="linkedin" value="no">
                  No
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Marital Status</label>
              <div class="radio">
                <label>
                  <input type="radio" name="marital_status" value="single">
                  Single
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="marital_status" value="married">
                  Married
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="marital_status" value="divorced">
                  Divorced
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Faith</label>
              <div class="radio">
                <label>
                  <input type="radio" name="faith" value="buddhist">
                  Buddhist
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="faith" value="hinduism">
                  Hinduism
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="faith" value="christian">
                  Christian
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Driving Licence</label>
              <div class="radio">
                <label>
                  <input type="radio" name="driving_licence" value="yes">
                  Yes
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="driving_licence" value="no">
                  No
                </label>
              </div>
            </div>
            <button class="btn btn-raised btn-primary" type="button" onclick="$('.breadcrumb').find('[data-target=experience]').click()">Next</button>
          </div>
          <div id="experience" class="hide">
            <div id="business-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-business-experience">+ Add Company Experience</button>
            </div>
            <div id="student-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-student-experience">+ Add Project Experience</button>
            </div>
            <button class="btn btn-raised btn-primary" type="button" onclick="$('.breadcrumb').find('[data-target=achievements]').click()">Next</button>
          </div>
          <div id="achievements" class="hide">
            <div id="degree-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-degree">+ Add Degree</button>
            </div>
            <div id="certificate-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-certificate">+ Add Certificate</button>
            </div>
            <div id="award-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-award">+ Add Award</button>
            </div>
            <div id="volunteer-form">
              <button type="button" class="btn btn-raised btn-primary" id="add-volunteer">+ Add Volunteer</button>
            </div>
            <button class="btn btn-raised btn-primary" type="button" onclick="$('.breadcrumb').find('[data-target=skills]').click()">Next</button>
          </div>
          <div id="skills" class="hide">
            <div class="form-group">
              <label for="skills" class="bmd-label-floating">Technical Skills</label>
              <input type="text" name="technical_skills" class="form-control" id="skills">
              <span class="bmd-help">List of technical skills seperated by commas</span>
            </div>
            <div class="form-group">
              <label for="language" class="bmd-label-floating">Language</label>
              <textarea name="language_proficiency" class="form-control" id="language"></textarea>
              <span class="bmd-help">Language proficiency</span>
            </div>
            <button class="btn btn-raised btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script type="text/javascript">

// for the professional experience
window.businessRecordCount = 0;
window.studentRecordCount = 0;
// for the edu and achievements
window.degreeRecordCount = 0;
window.certificateRecordCount = 0;
window.awardRecordCount = 0;
window.volunteerRecordCount = 0;


function removeElement(target, cardType) {
  target.remove();
  if (cardType === 'business') {
    window.businessRecordCount -= 1;
  } else if (cardType === 'student') {
    window.studentRecordCount -= 1;
  } else if (cardType === 'degree') {
    window.degreeRecordCount -= 1;
  } else if (cardType === 'certificate') {
    window.certificateRecordCount -= 1;
  } else if (cardType === 'award') {
    window.awardRecordCount -= 1;
  } else {
    window.volunteerRecordCount -= 1;
  }
}

function generateBusinessForm(target) {
  window.businessRecordCount += 1;
  var businessCardNo = 'business-card-' + window.businessRecordCount,
      businessSectorTarget = 'business-sector-' + window.businessRecordCount,
      businessPositionTarget = 'business-position-' + window.businessRecordCount,
      businessDepartmentTarget = 'business-department-' + window.businessRecordCount,
      businessPeriodFromTarget = 'business-period-from-' + window.businessRecordCount,
      businessPeriodToTarget = 'business-period-to-' + window.businessRecordCount
      businessDescriptionTarget = 'business-description-' + window.businessRecordCount,
    sectorList = ['Real Estate', 'Advertisement', ' Technology', 'Marketing', 'Education', 'Consulting', ' Agriculture', ' Manufacturing', 'Government', 'NGO', 'Export-import', 'Electronic', 'Finance', 'Telecomunication']
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: businessCardNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+businessCardNo+"'), 'business')"
      })
    }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
                  for: businessSectorTarget,
                  class: 'bmd-label-floating',
                  html: 'Sector'
                }), $('<select/>', {
                  class: 'form-control',
                  name: 'sector[]',
                  id: businessSectorTarget,
                  html: $.map(sectorList, function(value, index){
                    return $('<option/>', {
                      html: value
                    })
                  })
                })]
          }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: businessPositionTarget,
              class: 'bmd-label-floating',
              html: 'Position'
            }), $('<input/>', {
              class: 'form-control',
              name: 'job_position[]',
              id: businessPositionTarget,
              html: $('<span/>', {
                class: 'bmd-help',
                html: 'Position that you worked as'
              })
            })]
          }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: businessDepartmentTarget,
              class: 'bmd-label-floating',
              html: 'Department'
            }), $('<input/>', {
              class: 'form-control',
              name: 'department[]',
              id: businessDepartmentTarget,
              html: $('<span/>', {
                class: 'bmd-help',
                html: 'Department that you worked at'
              })
            })]
          }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: businessPeriodFromTarget,
              class: 'bmd-label-floating',
              html: 'Period From'
            }), $('<input/>', {
              name: 'period_from[]',
              class: 'form-control',
              type: 'date',
              id: businessPeriodFromTarget,
            })]
          }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: businessPeriodToTarget,
              class: 'bmd-label-floating',
              html: 'Period To'
            }), $('<input/>', {
              name: 'period_to[]',
              class: 'form-control',
              type: 'date',
              id: businessPeriodToTarget
            })]
          }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: businessDescriptionTarget,
              class: 'bmd-label-floating',
              html: 'Responsibilities'
            }), $('<textarea/>', {
              name: 'responsibilities[]',
              class: 'form-control',
              id: businessDescriptionTarget,
              html: $('<span/>', {
                class: 'bmd-help',
                html: 'Briefly describe the responsibilities for the period'
              })
            })]
          })]
  }))
}

function generateStudentForm(target) {
  window.studentRecordCount += 1;
  var studentCardNo = 'student-card-' + window.studentRecordCount,
      studentCourseTarget = 'student-course-' + window.studentRecordCount,
      studentProjectTarget = 'student-project-' + window.studentRecordCount
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: studentCardNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+studentCardNo+"'), 'student')"
      })
    }),$('<div/>', {
          class: 'form-group',
          html: [$('<label/>', {
            for: studentCourseTarget,
            class: 'bmd-label-floating',
            html: 'Course Highlight'
          }), $('<textarea/>', {
            class: 'form-control',
            name: 'course[]',
            id: studentCourseTarget,
            html: $('<span/>', {
              class: 'bmd-help',
              html: 'Briefly describe the course information'
            })
          })]
        }),$('<div/>', {
            class: 'form-group',
            html: [$('<label/>', {
              for: studentProjectTarget,
              class: 'bmd-label-floating',
              html: 'Responsibilities'
            }), $('<textarea/>', {
              class: 'form-control',
              name: 'project[]',
              id: studentProjectTarget,
              html: $('<span/>', {
                class: 'bmd-help',
                html: 'Briefly describe the responsibilities for the project'
              })
            })]
          })]
  }))
}

function generateDegreeForm(target) {
  window.degreeRecordCount += 1;
  var degreeCarddNo = 'degree-card-' + window.degreeRecordCount,
      degreeTarget = 'degre-' + window.degreeRecordCount
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: degreeCarddNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+degreeCarddNo+"'), 'degree')"
      })
    }),$('<div/>', {
          class: 'form-group',
          html: [$('<label/>', {
            for: degreeTarget,
            class: 'bmd-label-floating',
            html: 'Degree'
          }), $('<textarea/>', {
            class: 'form-control',
            name: 'education_degree[]',
            id: degreeTarget,
            html: $('<span/>', {
              class: 'bmd-help',
              html: 'Name of degree you attend to'
            })
          })]
        })]
  }))
}

function generateCertificateForm(target) {
  window.certificateRecordCount += 1;
  var certificateCardNo = 'degree-card-' + window.certificateRecordCount,
      certificateTarget = 'degre-' + window.certificateRecordCount
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: certificateCardNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+certificateCardNo+"'), 'certificate')"
      })
    }),$('<div/>', {
          class: 'form-group',
          html: [$('<label/>', {
            for: certificateTarget,
            class: 'bmd-label-floating',
            html: 'Certificate'
          }), $('<textarea/>', {
            class: 'form-control',
            name: 'certificate[]',
            id: certificateTarget,
            html: $('<span/>', {
              class: 'bmd-help',
              html: 'Name of certificate'
            })
          })]
        })]
  }))
}

function generateAwardForm(target) {
  window.awardRecordCount += 1;
  var awardCardNo = 'degree-card-' + window.awardRecordCount,
      awardTarget = 'degre-' + window.awardRecordCount
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: awardCardNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+awardCardNo+"'), 'award')"
      })
    }),$('<div/>', {
          class: 'form-group',
          html: [$('<label/>', {
            for: awardTarget,
            class: 'bmd-label-floating',
            html: 'Award'
          }), $('<textarea/>', {
            class: 'form-control',
            name: 'award[]',
            id: awardTarget,
            html: $('<span/>', {
              class: 'bmd-help',
              html: 'Name of certificate'
            })
          })]
        })]
  }))
}

function generateVolunteerForm(target) {
  window.volunteerRecordCount += 1;
  var volunteerCardNo = 'degree-card-' + window.volunteerRecordCount,
      volunteerTarget = 'degre-' + window.volunteerRecordCount
  target.prepend($('<div/>', {
    class: 'card form-card',
    id: volunteerCardNo,
    html: [$('<div/>', {
      html: $('<a/>', {
        html: 'x',
        onclick: "removeElement($('#"+volunteerCardNo+"'), 'volunteer')"
      })
    }),$('<div/>', {
          class: 'form-group',
          html: [$('<label/>', {
            for: volunteerTarget,
            class: 'bmd-label-floating',
            html: 'Volunteer Experience'
          }), $('<textarea/>', {
            name: 'volunteer[]',
            class: 'form-control',
            id: volunteerTarget,
            html: $('<span/>', {
              class: 'bmd-help',
              html: 'Name of certificate'
            })
          })]
        })]
  }))
}

function showAlert(data) {
  $('.main-container').prepend($('<div/>', {
    class: 'alert alert-primary',
    role: 'alert',
    onclick: "$('.alert').alert('close')",
    html: data    
  }));
}

$(document).ready(function(){
  $('.breadcrumb a').on('click', function(){
    var targetContainer = '#' + $(this).data('target');
    // show parent and hide others
    $(this).parent().addClass('active');
    $(this).parent().siblings().removeClass('active');
    $(targetContainer).removeClass('hide');
    $(targetContainer).siblings().addClass('hide');
  })
  // added the event listeners
  $('#add-business-experience').on('click', function(){
    generateBusinessForm($('#business-form'));
  })
  $('#add-student-experience').on('click', function(){
    generateStudentForm($('#student-form'));
  })
  $('#add-degree').on('click', function(){
    generateDegreeForm($('#degree-form'));
  })
  $('#add-certificate').on('click', function(){
    generateCertificateForm($('#certificate-form'));
  })
  $('#add-award').on('click', function(){
    generateAwardForm($('#award-form'));
  })
  $('#add-volunteer').on('click', function(){
    generateVolunteerForm($('#volunteer-form'));
  })
  $('#resume-request-form').on('submit', function(event){
    event.preventDefault();
    // clear all alert
    $('.alert').alert('close');
    var formData = $('#resume-request-form').serialize();
    // update the radio buttons
    Object.assign(formData, {
      gender: $('input[name=gender]').val(),
      linkedin: $('input[name=linkedin]').val(),
      marital_status: $('input[name=marital_status]').val(),
      faith: $('input[name=faith]').val(),
      driving_licence: $('input[name=driving_licence]').val()
    })
    $.post("/thecvroom/api/handle_resume_request/add", formData, function(json){
      if (json.success) {
        showAlert('Request submitted, you will be contacted within 3 working days!')
      } else {
        showAlert('Error submitting please try again later!')
      }
    });
  })
})
</script>