<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">
    <!-- include stylesheets -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <!-- Vendor Third Party Resourcs CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{=URL('static','css/animate.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/prettyPhoto.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/responsive.css')}}"/>
    <!-- Material Design CSS -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap-material-design.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static','css/ripples.min.css')}}">
<!--      <link rel="stylesheet" href="{{=URL('static','css/bootstrap-material-datetimepicker.css')}}">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- Material Design CSS end -->
    <link rel="stylesheet" href="{{=URL('static','css/main.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <!-- Own css to overwrite settings -->
    <link rel="stylesheet" href="{{=URL('static','css/thecvroom.css')}}"/>
    <!-- All JavaScript at the bottom, except for Modernizr which enables
         HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <!-- Third Party Vendodr JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="{{=URL('static','js/jquery.js')}}"></script>
<!--     <script src="{{=URL('static','js/bootstrap-material-datetimepicker.js')}}"></script> -->
    <script src="{{=URL('static','js/jquery.prettyPhoto.js')}}"></script>
    <script src="{{=URL('static','js/jquery.isotope.min.js')}}"></script>

    <!-- Material End -->
    <script src="{{=URL('static','js/main.js')}}"></script>
    <script src="{{=URL('static','js/wow.min.js')}}"></script>
    <!--[if lt IE 9]>
        <script src="{{=URL('static','js/respond-1.4.2.min.js')}}"></script>
        <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{
    # using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
    }}
  </head>
  <body>
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>

    <!-- Website main header -->
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  +0123 456 70 90</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                      <!-- <img src="images/logo.png" alt="logo"> -->
                      thecvroom
                    </a>
                </div>
                {{if auth.is_logged_in():}}
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{=URL('default','job_listings')}}">Home</a></li>
                        <li><a href="{{=URL('default','request_resume')}}">Request Resume</a></li>
                        {{if auth.has_membership('admin'):}}
                        <li><a href="{{=URL('default','admin')}}">Admin</a></li>
                        {{pass}}
                        <li><a href="{{=URL('default', 'user', args=['logout'])}}">Logout</a></li>
                    </ul>
                </div>
                {{else:}}
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="{{=URL('default','job_listings')}}">Job Listings</a></li>
                        <li><a href="{{=URL('default','about_us')}}">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{=URL('default','resume_writing')}}">Resume Writing</a></li>
                                <li><a href="{{=URL('default','hr_solutions')}}">HR Solutions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{=URL('default','login')}}">Login</a></li>
                                <li><a href="{{=URL('default','register')}}">Register</a></li>
                            </ul>
                        </li>                    
                    </ul>
                </div>
                {{pass}}
            </div><!--/.container-->
        </nav><!--/nav-->
    
    </header><!--/header-->

    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->
    <div class="container-fluid main-container no-margin-padding">

      <div class="col-md-12 no-margin-padding">
        {{block center}}
        {{include}}
        {{end}}
      </div>

    </div>
   
    <!-- To Clear Float -->
    <div class="clear-float"></div>
    <!-- Footer -->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; {{=request.now.year}} <a target="_blank" href="http://www.thecvroom.com" title="Your HR Solution Provider">thecvroom</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <!-- Material Design -->
    <script src="{{=URL('static','js/material.min.js')}}"></script>
    <script src="{{=URL('static','js/ripples.min.js')}}"></script>
    <!-- <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script> -->
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}
    <script>
      $(document).ready(function(){
        $.material.init();
      })
    </script>
  </body>
</html>
