body, .no-margin-padding{
  padding: 0px;
  margin: 0px;
}
.clear-float{
  clear: both;
}
#main-nav{
  background-color: transparent;
}
/* Template Overwrite */
.homepage > section {
  padding: 70px 0;
}
#contact-info{
  background: #fff url('../images/contact.png') no-repeat 90% 0;
}
#main-slider{
  padding: 0px;
  margin: 0px;
}